<?xml version='1.0' encoding='utf-8'?>
<!--
     SPDX-FileCopyrightText: 2024 Paranoid Android
     SPDX-License-Identifier: Apache-2.0
-->
<manifest>
  <include name="../platforms/msmnile.xml" />

  <project path="device/xiaomi/phoenix" name="AOSPA/android_device_xiaomi_phoenix" remote="aospa" revision="uvite" />
  <project path="hardware/xiaomi" name="AOSPA/android_hardware_xiaomi" remote="aospa" revision="uvite" />
  <project path="kernel/msm-4.14" name="AOSPA/android_kernel_xiaomi_phoenix" remote="aospa" revision="uvite" />
  <project path="vendor/xiaomi" name="proprietary_vendor_xiaomi" remote="blobs" revision="uvite" clone-depth="1" />
</manifest>