<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.aospa.theme.font.milanpro">

    <overlay
        android:category="android.theme.customization.font"
        android:priority="600"
        android:targetPackage="android" />

    <application android:label="Mi Lan Pro">
        <meta-data
            android:name="android.theme.customization.REQUIRED_SYSTEM_FONTS"
            android:value="milanpro,milanpro-medium" />
    </application>
</manifest>
