type hub_app, domain, coredomain;

app_domain(hub_app)
net_domain(hub_app)

allow hub_app ota_package_file:dir create_dir_perms;
allow hub_app ota_package_file:file create_file_perms;
