binder_use(platform_app)

# Allow PowerShare HAL service to be found
hal_client_domain(platform_app, hal_aospa_powershare)

# Allow LineageHealth HAL service to be found
hal_client_domain(platform_app, hal_lineage_health)
