# DC Dimming
allow platform_app vendor_sysfs_dc_dim:file rw_file_perms;

# Allow FOD HAL service to be found.
hal_client_domain(platform_app, vendor_fod)
binder_call(platform_app, vendor_fod_aospa)
