# PIHooks
system_public_prop(pih_disable_prop)

# Custom version
system_internal_prop(custom_version_prop)

# Tethering
system_internal_prop(device_config_tethering_prop)
