# DC Dimming
allow system_server vendor_sysfs_dc_dim:file rw_file_perms;
add_service(system_server, dc_dimming_service);

# Pocket Judge
allow system_server pocket_judge_sysfs:dir search;
allow system_server pocket_judge_sysfs:file rw_file_perms;
allow system_server pocket_service:service_manager { add find };

# Set tethering properties
set_prop(system_server, device_config_tethering_prop)

# Powershare
hal_client_domain(system_server, hal_aospa_powershare)

# Lineage
hal_client_domain(system_server, hal_lineage_health)

# CachedAppOptimizer
allow system_server zygote_tmpfs:file rw_file_perms;
