binder_call(system_app, update_engine)

allow system_app ota_package_file:dir getattr;
allow system_app ota_package_file:dir search;
allow system_app ota_package_file:dir rw_dir_perms;
allow system_app ota_package_file:file create_file_perms;
