#
# SPDX-FileCopyrightText: Paranoid Android
# SPDX-License-Identifier: Apache-2.0
#

service vendor.powershare /vendor/bin/hw/vendor.aospa.powershare-service
    class hal
    user system
    group system
