<?xml version='1.0' encoding='utf-8'?>
<!--
     SPDX-FileCopyrightText: 2024 Paranoid Android
     SPDX-License-Identifier: Apache-2.0
-->
<manifest>
  <include name="../../devices/oneplus7.xml" />

  <project path="device/oneplus/oneplus7pro" name="AOSPA/android_device_oneplus_oneplus7pro" remote="aospa" revision="vauxite" />
</manifest>
