<?xml version='1.0' encoding='utf-8'?>
<!--
     SPDX-FileCopyrightText: 2024 Paranoid Android
     SPDX-License-Identifier: Apache-2.0
-->
<manifest>
  <include name="../platforms/kalama.xml" />

  <project path="device/sony/pdx234" name="AOSPA/android_device_sony_pdx234" remote="aospa" revision="uvite" />
  <project path="device/sony/pdx234-kernel" name="AOSPA/android_device_sony_pdx234-kernel" remote="aospa" revision="uvite" />
  <project path="hardware/sony" name="AOSPA/android_hardware_sony" remote="aospa" revision="uvite" />
  <project path="vendor/sony/pdx234" name="proprietary_vendor_sony_pdx234" remote="blobs" revision="uvite" clone-depth="1" />
</manifest>