<?xml version='1.0' encoding='utf-8'?>
<!--
     SPDX-FileCopyrightText: 2024 Paranoid Android
     SPDX-License-Identifier: Apache-2.0
-->
<manifest>
  <include name="../platforms/lahaina.xml" />

  <project path="device/realme/porsche" name="AOSPA/android_device_realme_porsche" remote="aospa" revision="uvite" />
  <project path="hardware/oplus" name="AOSPA/android_hardware_oplus" remote="aospa" revision="uvite" />
  <project path="kernel/msm-5.4" name="AOSPA/android_kernel_realme_sm8350" remote="aospa" revision="uvite" />
  <project path="vendor/nxp/opensource/halimpl" name="AOSPA/android_vendor_nxp_opensource_halimpl" remote="aospa" revision="uvite-SN100X-legacy" />
  <project path="vendor/nxp/opensource/hidlimpl" name="AOSPA/android_vendor_nxp_opensource_hidlimpl" remote="aospa" revision="uvite-SN100X-legacy" />
  <project path="vendor/oplus/camera" name="proprietary_vendor_oplus_camera" remote="blobs-gitlab" revision="uvite-porsche" clone-depth="1" />
  <project path="vendor/realme" name="proprietary_vendor_realme" remote="blobs" revision="uvite" />
</manifest>