<?xml version='1.0' encoding='utf-8'?>
<!--
     SPDX-FileCopyrightText: 2024 Paranoid Android
     SPDX-License-Identifier: Apache-2.0
-->
<manifest>
  <include name="../platforms/lahaina.xml" />

  <project path="device/qcom/lahaina" name="AOSPA/android_device_qcom_lahaina" remote="github" revision="uvite" />
  <project path="kernel/msm-5.4" name="AOSPA/android_kernel_qcom_sm8350" remote="github" revision="uvite" />
  <project path="vendor/nxp/opensource/halimpl" name="AOSPA/android_vendor_nxp_opensource_halimpl" remote="github" revision="uvite-SN100X-legacy" />
  <project path="vendor/nxp/opensource/hidlimpl" name="AOSPA/android_vendor_nxp_opensource_hidlimpl" remote="github" revision="uvite-SN100X-legacy" />
  <project path="vendor/qcom/qrd" name="proprietary_vendor_qcom_qrd" remote="blobs" revision="uvite" />
</manifest>