<?xml version='1.0' encoding='utf-8'?>
<!--
     SPDX-FileCopyrightText: 2024 Paranoid Android
     SPDX-License-Identifier: Apache-2.0
-->
<manifest>
  <include name="../platforms/taro.xml" />

  <project path="device/asus/davinci" name="AOSPA/android_device_asus_davinci" remote="aospa" revision="uvite" />
  <project path="kernel_platform/msm-kernel" name="AOSPA/android_kernel_asus_sm8475" remote="aospa" revision="uvite" />
  <project path="kernel_platform/msm-kernel/arch/arm64/boot/dts/vendor" name="AOSPA/kernel_qcom_proprietary" remote="aospa" revision="topaz-asus-davinci" />
  <project path="vendor/asus" name="proprietary_vendor_asus" remote="blobs" revision="uvite" />
  <project path="vendor/qcom/opensource/audio-kernel" name="AOSPA/vendor_qcom_opensource_audio-kernel-ar" remote="aospa" revision="uvite-asus-davinci" />
  <project path="vendor/qcom/opensource/camera-kernel" name="AOSPA/vendor_qcom_opensource_camera-kernel" remote="aospa" revision="topaz-asus-davinci" />
  <project path="vendor/qcom/opensource/cvp-kernel" name="platform/vendor/opensource/cvp-kernel" remote="clo-la" revision="dcf120f6617fbf3335ffdcb1894b8ffc62e8bd6b" />
  <project path="vendor/qcom/opensource/dataipa" name="platform/vendor/opensource/dataipa" remote="clo-la" revision="0a518c5590f36a44f9f9806cb1fb7628297a434a" />
  <project path="vendor/qcom/opensource/datarmnet" name="platform/vendor/qcom/opensource/datarmnet" remote="clo-la" revision="65d036a97d6bb1bc4f7719001a864ee8d77cb3dc" />
  <project path="vendor/qcom/opensource/datarmnet-ext" name="platform/vendor/qcom/opensource/datarmnet-ext" remote="clo-la" revision="5af7a138ef1fb33deb711216b793100322826539" />
  <project path="vendor/qcom/opensource/display-drivers" name="AOSPA/vendor_qcom_opensource_display-drivers" remote="aospa" revision="uvite-asus-davinci" />
  <project path="vendor/qcom/opensource/eva-kernel" name="platform/vendor/opensource/eva-kernel" remote="clo-la" revision="8fee9b929fabf46ef975a03d55aa9262e059725e" />
  <project path="vendor/qcom/opensource/mmrm-driver" name="platform/vendor/opensource/mmrm-driver" remote="clo-la" revision="ce5c3a5859c1edea355144a7749e8b3ebe982abe" />
  <project path="vendor/qcom/opensource/mmrm-driver/test" name="platform/vendor/opensource/mmrm-driver-test" remote="clo-la" revision="5e5e099689db214795b00771e7715b7dbdc71b3c" />
  <project path="vendor/qcom/opensource/video-driver" name="platform/vendor/opensource/video-driver" remote="clo-la" revision="66a651e08ae8263c1bc1244a32b4f47d738e91b4" />
  <project path="vendor/qcom/opensource/wlan/fw-api" name="platform/vendor/qcom-opensource/wlan/fw-api" remote="clo-la" revision="d1bed67b9224c6062bd3616b502059340e7d6022" />
  <project path="vendor/qcom/opensource/wlan/qca-wifi-host-cmn" name="platform/vendor/qcom-opensource/wlan/qca-wifi-host-cmn" remote="clo-la" revision="292c364f971a6ee4a850100e0e51259e964f98f4" />
  <project path="vendor/qcom/opensource/wlan/qcacld-3.0" name="StatiXOS/davinci-kernel/kernel_msm-modules_wlan_qcacld-3.0" remote="gitlab" revision="e4d17eb26d900e26db4b430b944be430fca56e40" />
  <project path="vendor/qcom/proprietary/audio-devicetree" name="AOSPA/vendor_qcom_proprietary_audio-devicetree" remote="aospa" revision="topaz-asus-davinci" />
  <project path="vendor/qcom/proprietary/camera-devicetree" name="AOSPA/vendor_qcom_proprietary_camera-devicetree" remote="aospa" revision="topaz-asus-davinci" />
  <project path="vendor/qcom/proprietary/cvp-devicetree" name="AOSPA/vendor_qcom_proprietary_cvp-devicetree" remote="aospa" revision="topaz-asus-davinci" />
  <project path="vendor/qcom/proprietary/display-devicetree" name="AOSPA/vendor_qcom_proprietary_display-devicetree" remote="aospa" revision="topaz-asus-davinci" />
  <project path="vendor/qcom/proprietary/mmrm-devicetree" name="AOSPA/vendor_qcom_proprietary_mmrm-devicetree" remote="aospa" revision="topaz-asus-davinci" />
  <project path="vendor/qcom/proprietary/video-devicetree" name="AOSPA/vendor_qcom_proprietary_video-devicetree" remote="aospa" revision="topaz-asus-davinci" />
</manifest>