<?xml version='1.0' encoding='utf-8'?>
<!--
     SPDX-FileCopyrightText: 2024 Paranoid Android
     SPDX-License-Identifier: Apache-2.0
-->
<manifest>
  <include name="../platforms/kona.xml" />

  <project path="device/realme/bitra" name="AOSPA/android_device_realme_bitra" remote="aospa" revision="uvite" />
  <project path="device/realme/sm8250-common" name="AOSPA/android_device_realme_sm8250-common" remote="aospa" revision="uvite" />
  <project path="hardware/oplus" name="AOSPA/android_hardware_oplus" remote="aospa" revision="uvite" />
  <project path="kernel/msm-4.19" name="AOSPA/android_kernel_realme_sm8250" remote="aospa" revision="uvite" />
  <project path="vendor/realme" name="proprietary_vendor_realme" remote="blobs" revision="uvite" />
</manifest>